@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.woff");
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Montserrat";
  min-height: 100%;
  color: #181818;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
button:active,
button:focus {
  outline: none;
}

span {
  white-space: pre-wrap;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.offer {
  color: #ffffff;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 56px;
}
.title--intro {
  width: 460px;
  font-weight: 800;
  font-size: 85px;
  line-height: 96px;
  padding: 30px 0;
}
.title--buy {
  margin-bottom: 40px;
}
.title--price {
  font-size: 50px;
  font-weight: 700;
  margin-top: 15px;
}
.title--green {
  color: #52AF6C;
}
.title--module {
  max-width: 660px;
}
.title--results {
  text-align: left;
}
.title--autor {
  margin-bottom: 35px;
  width: 400px;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
}
.subtitle--outro {
  width: 450px;
  margin-bottom: 37px;
  font-weight: 500;
}
.subtitle--about {
  margin: 30px 0;
  max-width: 700px;
}
.subtitle--module {
  max-width: 490px;
}
.subtitle--program {
  position: relative;
  color: #ffffff;
}
.subtitle--program::before {
  content: "";
  background-color: #13B0BB;
  border-radius: 20px;
  padding: 7px 10px;
  display: block;
  width: 105%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.subtitle--green {
  color: #52AF6C;
}
.subtitle--price {
  width: 550px;
  margin: 35px auto 0 auto;
}
.subtitle--footer {
  width: 570px;
  line-height: 55px;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--bold {
  font-weight: 700;
}
.text--module {
  margin-bottom: 30px;
}
.text--white {
  color: #ffffff;
}
.text--center {
  text-align: center;
}
.text--results {
  margin-top: 40px;
}
.text--bg {
  padding: 1px 12px;
  background-color: #A4E2B5;
}
.text--program {
  margin-top: 20px;
}
.text--border {
  border-bottom: 1px #a8a8a8 solid;
}
.text--buy {
  margin-bottom: 35px;
}
.text--tinkoff {
  color: #a8a8a8;
}
.text--check {
  display: flex;
  align-items: baseline;
}
.text--check::before {
  content: "";
  background-image: url("../img/check-blue.svg");
  display: flex;
  flex: 0 0 auto;
  width: 18px;
  height: 13px;
  margin-right: 10px;
}
.text--mtop {
  margin-top: 25px;
  margin-bottom: 25px;
}
.text--more {
  margin-top: 25px;
}
.text--autor {
  margin-bottom: 25px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 70px;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Montserrat";
}
.button svg {
  display: flex;
  flex: 0 0 auto;
  width: 18px;
  height: 14px;
  margin-right: 7px;
}
.button:hover {
  background-color: #A4E2B5;
  transition: 0.2s linear;
}
.button--intro {
  width: 382px;
}
.button--pink {
  background-color: #C57198;
}
.button--results {
  max-width: 400px;
  margin-top: 50px;
  background-color: #181818;
}
.button--results--blue svg {
  fill: #13B0BB;
}
.button--results--lightpink svg {
  fill: #EC8FBA;
}
.button--results--brown svg {
  fill: #E2BAA4;
}
.button--results--yellow svg {
  fill: #FCF6BA;
}
.button--results--green svg {
  fill: #A4E2B5;
}
.button--results--orange svg {
  fill: #FF8878;
}
.button--results--violet svg {
  fill: #A6AFF0;
}
.button--module {
  margin: 60px auto 0 auto;
}
.button--footer {
  border: none;
  background-color: #C57198;
  width: 480px;
  cursor: pointer;
}
.button--footer:hover {
  background-color: #13B0BB;
}

.intro {
  padding: 92px 0 95px 0;
  overflow: hidden;
}
.intro__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 40px;
  z-index: 1;
}
.intro__img {
  width: 680px;
  position: absolute;
  right: 20px;
  bottom: -95px;
}
.intro__img img {
  display: block;
  width: 100%;
}

.module {
  padding-top: 100px;
}
.module__inner {
  margin: 95px 0 80px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.module__inner--blue {
  display: flex;
  justify-content: space-between;
}
.module__inner--lightpink {
  display: flex;
}
.module__inner--brown {
  display: flex;
  justify-content: space-between;
}
.module__inner--yellow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 70px;
}
.module__inner--green {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 70px;
}
.module__inner--orange {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 70px;
}
.module__inner--violet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 70px;
}
.module__inner--item {
  background-color: #ffffff;
  border: 1px #000000 solid;
  padding: 76px 44px 26px 44px;
  border-radius: 10px;
  position: relative;
}
.module__inner--item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 100%;
  font-weight: 600;
  font-size: 45px;
  line-height: 38px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.module__inner--item:nth-child(1)::before {
  content: "1";
}
.module__inner--item:nth-child(2)::before {
  content: "2";
}
.module__inner--item:nth-child(3)::before {
  content: "3";
}
.module__inner--item:nth-child(4)::before {
  content: "4";
}
.module__inner--item:nth-child(5)::before {
  content: "5";
}
.module__inner--item:nth-child(6)::before {
  content: "6";
}
.module__inner--item:nth-child(7)::before {
  content: "7";
}
.module__inner--item:nth-child(8)::before {
  content: "8";
}
.module__inner--item__blue {
  width: 32%;
  box-shadow: 20px 20px 30px rgba(75, 182, 227, 0.2);
}
.module__inner--item__blue::before {
  background-color: #13B0BB;
  color: #ffffff;
}
.module__inner--item__pink {
  width: 24%;
  box-shadow: 20px 20px 30px rgba(236, 143, 186, 0.2);
  margin-bottom: 60px;
}
.module__inner--item__pink::before {
  background-color: #EC8FBA;
  color: #ffffff;
}
.module__inner--item__brown {
  width: 48%;
  box-shadow: 20px 20px 30px rgba(226, 186, 164, 0.3);
  margin-bottom: 70px;
}
.module__inner--item__brown:nth-child(3), .module__inner--item__brown:nth-child(4) {
  margin-bottom: 0;
}
.module__inner--item__brown::before {
  background-color: #E2BAA4;
  color: #ffffff;
}
.module__inner--item__yellow {
  box-shadow: 20px 20px 30px rgba(252, 246, 186, 0.4);
}
.module__inner--item__yellow:nth-child(1) {
  grid-area: 1/1/2/3;
}
.module__inner--item__yellow:nth-child(2) {
  grid-area: 1/3/2/4;
}
.module__inner--item__yellow:nth-child(3) {
  grid-area: 2/1/3/2;
}
.module__inner--item__yellow:nth-child(4) {
  grid-area: 2/2/3/3;
}
.module__inner--item__yellow:nth-child(5) {
  grid-area: 2/3/3/4;
}
.module__inner--item__yellow::before {
  background-color: #FCF6BA;
  color: #181818;
}
.module__inner--item__green {
  box-shadow: 20px 20px 30px rgba(164, 226, 181, 0.3);
}
.module__inner--item__green::before {
  background-color: #A4E2B5;
  color: #181818;
}
.module__inner--item__orange {
  box-shadow: 20px 20px 30px rgba(255, 106, 69, 0.2);
}
.module__inner--item__orange:nth-child(1) {
  grid-area: 1/1/2/2;
}
.module__inner--item__orange:nth-child(2) {
  grid-area: 1/2/2/3;
}
.module__inner--item__orange:nth-child(3) {
  grid-area: 1/3/2/4;
}
.module__inner--item__orange:nth-child(4) {
  grid-area: 2/1/3/3;
}
.module__inner--item__orange:nth-child(5) {
  grid-area: 2/3/3/4;
}
.module__inner--item__orange:nth-child(6) {
  grid-area: 3/1/4/2;
}
.module__inner--item__orange:nth-child(7) {
  grid-area: 3/2/4/3;
}
.module__inner--item__orange:nth-child(8) {
  grid-area: 3/3/4/4;
}
.module__inner--item__orange::before {
  background-color: #FF8878;
  color: #ffffff;
}
.module__inner--item__violet {
  box-shadow: 20px 20px 30px rgba(166, 175, 240, 0.3);
}
.module__inner--item__violet:nth-child(1) {
  grid-area: 1/1/2/2;
}
.module__inner--item__violet:nth-child(2) {
  grid-area: 1/2/2/3;
}
.module__inner--item__violet:nth-child(3) {
  grid-area: 1/3/2/4;
}
.module__inner--item__violet:nth-child(4) {
  grid-area: 2/1/3/2;
}
.module__inner--item__violet:nth-child(5) {
  grid-area: 2/2/3/4;
}
.module__inner--item__violet::before {
  background-color: #A6AFF0;
  color: #ffffff;
}
.module__title {
  display: flex;
}
.module__img--m {
  display: none;
}
.module__img--d {
  display: block;
}

.program {
  margin-bottom: 40px;
}
.program__text {
  margin-bottom: 30px;
  width: 51%;
}

.results {
  padding: 70px 0 90px 0;
}
.results__blue {
  background-color: #13B0BB;
}
.results__lightpink {
  background-color: #EC8FBA;
}
.results__brown {
  background-color: #E2BAA4;
}
.results__yellow {
  background-color: #FCF6BA;
}
.results__green {
  background-color: #A4E2B5;
}
.results__orange {
  background-color: #FF8878;
}
.results__violet {
  background-color: #A6AFF0;
}
.results__inner {
  width: 80%;
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 50px;
}

.list__buy {
  margin-top: 35px;
}
.list__item {
  margin-bottom: 30px;
  list-style: none;
}
.list__item:last-child {
  margin-bottom: 0;
}
.list__item--circle {
  display: flex;
  align-items: center;
}
.list__item--circle::before {
  content: "";
  display: flex;
  flex: 0 0 auto;
  width: 9px;
  height: 9px;
  background-color: #C4C4C4;
  border-radius: 100%;
  margin-right: 10px;
}
.list__item--check {
  display: flex;
  align-items: baseline;
}
.list__item--check::before {
  display: flex;
  flex: 0 0 auto;
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
  margin-right: 14px;
}
.list__item--check__blue::before {
  content: url("../img/check-blue.svg");
}
.list__item--check__lightpink::before {
  content: url("../img/check-lightpink.svg");
}
.list__item--check__brown::before {
  content: url("../img/check-brown.svg");
}
.list__item--check__yellow::before {
  content: url("../img/check-yellow.svg");
}
.list__item--check__green::before {
  content: url("../img/check-green.svg");
}
.list__item--check__orange::before {
  content: url("../img/check-orange.svg");
}
.list__item--check__violet::before {
  content: url("../img/check-violet.svg");
}
.list__program {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.autor {
  background: #A4E2B5;
  padding: 100px 0 65px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.autor__block {
  position: relative;
  width: 580px;
  background-color: #ffffff;
  padding: 50px 51px 56px 80px;
  border-radius: 10px;
  margin-left: auto;
  box-shadow: 20px 20px 30px #52AF6C;
}
.autor__inner {
  display: flex;
  flex-direction: row;
}
.autor__img {
  display: block;
  width: 680px;
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: 1;
}

.buy {
  padding: 100px 0 93px 0;
}
.buy__inner {
  margin: 50px 0 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buy__inner--item {
  width: 32%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #181818;
}
.buy__inner--item__header {
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
  width: 100%;
}
.buy__inner--item__body {
  padding: 38px 43px 40px 43px;
}
.buy__inner--item__footer {
  margin-top: auto;
  padding: 0 43px 30px 43px;
}
.buy__inner--currency {
  font-family: "Montserrat";
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy__inner--currency p {
  margin: 0;
}
.buy__inner--currency p::after {
  content: "/";
  padding: 0 5px;
}
.buy__inner--currency p:last-child::after {
  display: none;
}
.buy__link {
  margin: 25px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A8A8A8;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}
.buy__link::before {
  content: "";
  display: flex;
  flex: 0 0 auto;
  background-image: url("../img/buy/tinkoff.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 47px;
  height: 41px;
  margin-right: 9px;
}
.buy__text {
  width: 618px;
  margin: 45px auto 0 auto;
}

.price {
  margin-top: 35px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: line-through;
  text-align: center;
  color: #a8a8a8;
}

.footer {
  background-color: #A4E2B5;
  padding: 70px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__input {
  display: block;
  width: 480px;
  height: 81px;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 26px;
  color: #C9C6C6;
  padding: 13px 0 13px 25px;
}

.silver {
  background: linear-gradient(180deg, #C9C6C6 0%, #F1F2F6 100%);
}

.gold {
  background: linear-gradient(180deg, #BF953F 0%, #FCF6BA 100%);
}

.platina {
  background: linear-gradient(180deg, #EDF1F4 0%, #C3CBDC 100%);
  position: relative;
}
.platina::before {
  content: url("../img/buy/left-star.svg");
  position: absolute;
  left: 20px;
  top: 2px;
}
.platina::after {
  content: url("../img/buy/right-star.svg");
  position: absolute;
  right: 20px;
  top: 2px;
}

@media (max-width: 1440px) {
  .autor__img {
    left: 2%;
  }
}
@media (max-width: 1366px) {
  .intro {
    padding: 90px 0;
  }
  .intro__inner {
    padding-left: 0;
  }
  .intro__img {
    right: 0;
  }
}
@media (max-width: 1190px) {
  .container {
    padding: 0 1%;
  }

  .autor__img {
    width: 55%;
    left: 0;
  }

  .buy__inner--item {
    width: 32.7%;
  }
  .buy__inner--item__body {
    padding: 35px 20px 40px 20px;
  }
  .buy__inner--item__footer {
    padding: 0 20px 30px 20px;
  }
}
@media (max-width: 1080px) {
  .intro {
    padding: 70px 0;
  }
  .intro__img {
    width: 60%;
    right: -10px;
    bottom: 0;
  }

  .autor__img {
    left: -80px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1020px) {
  .module__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .module__inner--item {
    width: 60%;
    margin-bottom: 60px;
  }
  .module__inner--item:last-child {
    margin-bottom: 0;
  }
  .module__inner--item__brown:nth-child(3) {
    margin-bottom: 60px;
  }
  .module__inner--lightpink, .module__inner--yellow, .module__inner--green, .module__inner--orange, .module__inner--violet {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
@media (max-width: 991px) {
  .title--intro {
    text-align: center;
    width: auto;
    padding: 25px 0;
  }

  .subtitle--outro {
    text-align: center;
  }
  .subtitle--program {
    background-color: #13B0BB;
    padding: 5px;
    border-radius: 20px;
  }
  .subtitle--program::before {
    display: none;
  }

  .text--white {
    color: #181818;
  }

  .intro {
    padding: 60px 0 70px 0;
  }
  .intro__img {
    margin-top: 40px;
    position: static;
    width: 70%;
  }
  .intro__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .module {
    padding-top: 0;
  }
  .module__inner {
    flex-direction: column;
    align-items: center;
  }
  .module__inner--item {
    width: 60%;
    margin-bottom: 60px;
    padding: 75px 40px 40px 40px;
  }
  .module__inner--item:last-child {
    margin-bottom: 0;
  }
  .module__img--d {
    display: none;
  }
  .module__img--m {
    margin-top: 20px;
    width: 250px;
    height: 200px;
    display: block;
    margin-left: auto;
  }
  .module__img--m img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .results__blue, .results__lightpink, .results__brown, .results__yellow, .results__green, .results__orange, .results__violet {
    background-color: #ffffff;
    z-index: 100;
  }
  .results__inner {
    position: relative;
    z-index: 1;
  }
  .results__inner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: -10;
  }
  .results__inner--blue::before {
    background-color: #13B0BB;
  }
  .results__inner--lightpink::before {
    background-color: #EC8FBA;
  }
  .results__inner--brown::before {
    background-color: #E2BAA4;
  }
  .results__inner--yellow::before {
    background-color: #FCF6BA;
  }
  .results__inner--green::before {
    background-color: #A4E2B5;
  }
  .results__inner--orange::before {
    background-color: #FF8878;
  }
  .results__inner--violet::before {
    background-color: #A6AFF0;
  }

  .autor {
    padding: 60px 0 0 0;
  }
  .autor__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .autor__block {
    width: 90%;
    margin-left: 0;
  }
  .autor__img {
    margin-top: 40px;
    width: 700px;
    position: static;
  }

  .buy__inner {
    flex-direction: column;
    align-items: center;
  }
  .buy__inner--item {
    width: 70%;
    margin-bottom: 40px;
  }
  .buy__inner--item:last-child {
    margin-bottom: 0;
  }
  .buy__inner--item__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buy__inner--item__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .module__title {
    display: flex;
    flex-direction: column;
  }
  .module__inner--item {
    width: 90%;
  }

  .autor__img {
    margin: 30px auto 0 auto;
    width: 70%;
  }

  .buy__text {
    width: 95%;
  }
}
@media (max-width: 667px) {
  .title--intro {
    font-size: 70px;
    line-height: 85px;
  }

  .subtitle--footer {
    width: auto;
  }

  .module__img--m {
    width: 194px;
    height: 151px;
  }

  .program__text {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .container {
    padding: 0 3%;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
  }
  .title--intro {
    font-size: 55px;
    line-height: 65px;
    padding: 15px 0;
  }
  .title--results {
    text-align: left;
  }
  .title--buy {
    margin-bottom: 25px;
  }
  .title--price {
    font-size: 48px;
    line-height: 58px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .subtitle--intro {
    text-align: center;
  }
  .subtitle--outro {
    width: 80%;
  }
  .subtitle--about {
    margin: 22px 0;
    font-weight: 700;
  }
  .subtitle--module {
    width: auto;
    font-size: 16px;
    line-height: 22px;
  }
  .subtitle--price {
    width: auto;
  }
  .subtitle--buy {
    width: 380px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }

  .button {
    font-size: 16px;
  }
  .button--module {
    margin: 40px auto 0 auto;
  }
  .button--buy {
    width: 100%;
  }
  .button--footer {
    width: 100%;
    height: 60px;
  }

  .intro {
    padding: 60px 0;
  }
  .intro__img {
    width: 80%;
  }

  .module {
    padding-top: 60px;
  }
  .module__inner {
    margin: 60px 0;
  }
  .module__inner--item {
    width: 95%;
    padding: 51px 38px 36px 38px;
    text-align: left;
  }
  .module__inner--item::before {
    width: 59px;
    height: 59px;
    font-size: 32px;
  }

  .autor {
    padding: 30px 0 0 0;
  }
  .autor__block {
    padding: 40px 30px;
  }
  .autor__img {
    width: 80%;
  }

  .buy {
    padding: 70px 0;
  }
  .buy__inner--item {
    width: 95%;
  }
  .buy__inner--item__footer {
    padding: 0 10px 30px 10px;
  }

  .footer__input {
    height: 50px;
    width: 100%;
    font-size: 16px;
  }
  .footer__form {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .title--price {
    font-size: 45px;
  }
  .title--autor {
    width: 290px;
  }

  .subtitle--outro {
    width: 100%;
  }
  .subtitle--buy {
    width: 90%;
  }

  .button--intro {
    width: 99%;
  }

  .intro {
    padding: 40px 0;
  }
  .intro__img {
    width: 100%;
  }

  .module__img {
    width: 190px;
    height: 150px;
  }
  .module__inner--item {
    padding: 51px 30px 36px 30px;
  }

  .autor__block {
    width: 100%;
    padding: 40px 25px;
  }
  .autor__img {
    width: 95%;
  }

  .buy__text {
    width: 100%;
    margin: 30px auto 0 auto;
  }
}