$pink: #C57198;
$lightpink: #EC8FBA;
$green: #A4E2B5;
$dark: #181818;
$blue: #13B0BB;
$brown: #E2BAA4;
$yellow: #FCF6BA;
$orange: #FF8878;
$violet: #A6AFF0;
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBold.woff');
    font-display: swap;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Montserrat';
    min-height: 100%;
    color: $dark;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
.offer {
    color: #ffffff;
}
.title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
    &--intro {
        width: 460px;
        font-weight: 800;
        font-size: 85px;
        line-height: 96px;
        padding: 30px 0;
    }
    &--buy {
        margin-bottom: 40px;
    }
    &--price {
        font-size: 50px;
        font-weight: 700;
        margin-top: 40px;
    }
    &--green {
        color: #52AF6C;
    }
}
.subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    &--outro {
        width: 450px;
        margin-bottom: 37px;
        font-weight: 500;
    }
    &--about {
        margin: 30px 0;
        max-width: 700px;
    }
    &--module {
        max-width: 490px;
    }
    &--buy {
        margin: 0 auto;
        width: 495px;
    }
}
.text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    &--uppercase {
        text-transform: uppercase;
    }
    &--bold {
        font-weight: 700;
    }
    &--module {
        margin-bottom: 30px;
    }
    &--center {
        text-align: center;
    }
    &--results {
        margin-top: 40px;
    }
    &--bg {
        padding: 3px 12px;
        background-color: $green;
    }
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 0 30px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    font-weight: 600;
    font-family: 'Montserrat';
    svg {
        display: flex;
        flex: 0 0 auto;
        width: 18px;
        height: 14px;
        margin-right: 7px;
    }
    &:hover {
        background-color: $green;
        transition: .2s linear;
    }
    &--pink {
        background-color: $pink;
    }
    &--blue {
        background-color: $blue;
        svg {
            fill: #ffffff;
        }
    }
    &--lightpink {
        background-color: $lightpink;
        color: $dark;
    }
    &--brown {
        background-color: $brown;
        color: $dark;
    }
    &--yellow {
        background-color: $yellow;
        color: $dark;
    }
    &--green {
        background-color: $green;
        color: $dark;
    }
    &--orange {
        background-color: $orange;
        svg {
            fill: #ffffff;
        }
    }
    &--violet {
        background-color: $violet;
        svg {
            fill: #ffffff;
        }
    }
    &--module {
        margin: 60px auto 0 auto;
    }
}
.intro {
    padding: 92px 0 95px 0;
    overflow: hidden;
    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 40px;
        z-index: 1;
    }
    &__img {
        width: 680px;
        position: absolute;
        right: 20px;
        bottom: -95px;
        img {
            display: block;
            width: 100%;
        }
    }
}
.module {
    padding-top: 100px;
    &__inner {
        margin: 95px 0 80px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item {
            text-align: center;
            width: 32%;
            background-color: #ffffff;
            border: 1px #000000 solid;
            padding: 76px 44px 26px 44px;
            border-radius: 10px;
            position: relative;
            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 81px;
                height: 81px;
                border-radius: 100%;
                font-weight: 600;
                font-size: 45px;
                line-height: 38px;
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:nth-child(1) {
                &::before {
                    content: '1';
                }
            }
            &:nth-child(2) {
                &::before {
                    content: '2';
                }
            }
            &:nth-child(3) {
                &::before {
                    content: '3';
                }
            }
            &__blue {
                box-shadow: 20px 20px 30px rgba(75, 182, 227, 0.2);
                &::before {
                    background-color: $blue;
                    color: #ffffff;
                }
                
            }
            &__pink {
                box-shadow: 20px 20px 30px rgba(236, 143, 186, 0.2);
                &::before {
                    background-color: $lightpink;
                    color: #ffffff;
                }
            }
            &__brown {
                box-shadow: 20px 20px 30px rgba(226, 186, 164, 0.3);
                &::before {
                    background-color: $brown;
                    color: #ffffff;
                }
            }
            &__yellow {
                box-shadow: 20px 20px 30px rgba(252, 246, 186, 0.4);
                &::before {
                    background-color: $yellow;
                    color: $dark;
                }
            }
            &__green {
                box-shadow: 20px 20px 30px rgba(164, 226, 181, 0.3);
                &::before {
                    background-color: $green;
                    color: $dark;
                }
            }
            &__orange {
                box-shadow: 20px 20px 30px rgba(255, 106, 69, 0.2);
                &::before {
                    background-color: $orange;
                    color: #ffffff;
                }
            }
            &__violet {
                box-shadow: 20px 20px 30px rgba(19, 176, 187, 0.2);
                &::before {
                    background-color: $violet;
                    color: #ffffff;
                }
            }
        }
    }
}
.results {
    padding: 0 100px;
}
.list {
    &__buy {
        margin-top: 35px;
    }
    &__item {
        margin-bottom: 35px; 
        list-style: none;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.buy {
    padding: 100px 0 93px 0;
    &__inner {
        margin: 50px 0 60px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &--item {
            width: 32%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 1px solid $dark;
                &__header {
                    border-radius: 10px 10px 0 0;
                    padding: 15px 0;
                    width: 100%;
                }
                &__body {
                    padding: 38px 43px 40px 43px;
                }
                &__footer {
                    margin-top: auto;
                    padding: 0 45px 56px 45px;
                }
            }
            &--currency {
                font-family: 'Montserrat';
                margin: 10px 0;
                display: flex;
                        align-items: center;
                        justify-content: center;
                p {
                    margin: 0;
                    &::after {
                        content: "/";
                        padding: 0 5px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
.silver {
    background: linear-gradient(180deg, #C9C6C6 0%, #F1F2F6 100%);
}
.gold {
    background: linear-gradient(180deg, #BF953F 0%, #FCF6BA 100%);
}
.platina {
    background: linear-gradient(180deg, #EDF1F4 0%, #C3CBDC 100%);
    position: relative;
    &::before {
        content: url('../img/buy/left-star.svg');
        position: absolute;
        left: 20px;
        top: 2px;
    }
    &::after {
        content: url('../img/buy/right-star.svg');
        position: absolute;
        right: 20px;
        top: 2px;
    }
}
